AUTOMATION_NAME="UiAutomator2"
APP_FILE_NAME="ApiDemos-debug.apk"
APP_DIR_PATH="/home/androidusr/data"
APP_PACKAGE_NAME="io.appium.android.apis"
PLATFORM_NAME="Android"
PLATFORM_VERSION=15
APPIUM_SERVER_URL="http://localhost:4723"